<!DOCTYPE html>
<div class="col-md-6 col-md-offset-3">
  <%# どこに向けたフォームなのか（actionに入る要素）をurlで
      指定しないと、'xx_path'エラーが出る %>
  <%= search_form_for @q, url: search_path do |f| %>
    <%# attrの後ろに'_cont'をつけると部分一致になる %>
    <%# https://github.com/activerecord-hackery/ransack#search-matchers %>
    <%= f.label :title_cont, "タイトル" %>
    <%= f.search_field :title_cont %>
    
    <%= f.label :page_gteq, "最小ページ数" %>
    <%= f.search_field :page_gteq %>
    
    <%= f.label :page_lteq, "最大ページ数" %>
    <%= f.search_field :page_lteq %>
    
    <%= f.label :books_genre_id, 'ジャンル' %>
    <%= f.grouped_collection_select(
    :books_genre_id_in,
    @genreGroups,
    :genres,
    :books_genre_name,
    :books_genre_id,
    :books_genre_name,
    {},
    {:multiple => true, :class => "grouped-multi-select-box"}
    )%>
    
    <%= f.submit "検索", class: "btn btn-primary" %>
  <% end %>
  
  <%= button_to(
  "ランダム検索",
  {:action => "show", :id => @randomId},
  :method => :get,
  :class => "btn btn-secondary"
  )%>
</div>